<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> 💫 Bhavya Patteeswaran CV </title>
        <link rel="icon" href="{% static 'assets/favicon.ico' %}">        
    </head>
    <body >
        <img src="{% static 'assets/BhavyaPhoto2.jpg' %}" alt="Bhavya Profile picture" width="200" height="200">
        <h1>Bhavya Patteeswaran</h1>
        <p>
        <em><strong>Role:</strong> Software Developer/ ETL Developer/ Data Analyst</em>
        <br>
        <hr size="3" noshade>
        <h2>HTML Projects:</h2>
        <ul>
            <li><a href="/CV" target="_blank">Personal Online CV</a></li>
            <li><a href="/OnlineShoppingWebsite" target="_blank">Online Shopping Website using Bootstrap</a></li>
        </ul>
     </body>
</html>
